* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background-color: #6e0b0b;
    justify-content: center;
    align-items: center;
}
.container {
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #859cce;
}

h1 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

