* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/new_project_form/img/pexels-introspectivedsgn-7524996.jpg);
    background-position: center; /*posiçao centralizada*/
    background-size: cover; /*cobre toda a fundo*/
    display: block;

}

.logo {
    background-color: rgb(4, 129, 212);
    text-align: center;
    margin: 10px 5px;
    justify-content: center;
    padding: 10px; /*espaçamento interno do header*/
    border: 2px solid black;
}

.main {
    display: flex; 
    min-height: 100vh; /*altura minima da fundo*/
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
}    
    
.container {
    background: transparent;
    background-color: rgba(0, 0, 255, 0.3); /* blue with 30% opacity */
    width: 300px;
    height: 550px;
    padding: 15px 25px;
    border: 2px solid #000000;
    border-radius: 20px;
    backdrop-filter: blur(9px);
}

h1 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 10px 0 15px 0;
    text-align: center;
}

.input-container {
    width: 98%;
    height: 40px;
    position: relative;
    margin: 20px 0;
}

.input-container input::placeholder {
    color: #050142ab;
    font-size: 15px;
    
}

.input-container input {
    width: 95%;
    height: 38px;
    border: none;
    padding: 0 10px;
    border: 1px solid #000000;
    color: #000000;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

.input-container img {
    position: absolute;
    right: 20px;
    top: 23px;
    margin-top: 5px; 
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       

.input-container a {
    text-decoration: none;
    color: #0a0000;
    margin-top: 5px;
    font-size: 16px
}

.checkbox {

}

.button {

}

.icons {

}

.singup {

}